* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #000;
    height: 100vh;
    display: flex;
}
ul {
    margin: auto;
    transition: opacity 1s;
}
ul > li {
    color: yellow;
    display: inline-block;
    letter-spacing: 1.5rem;
    font-size: 3rem;
    font-family: "Monda", sans-serif;
    font-weight: bold;
    text-shadow: 0 0 30px #fff, 0 0 10px yellow;
}
li:nth-child(3) {
    animation: rotate 3s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotate(15deg);
    }
    7% {
        transform: rotate(10deg);
    }
    14% {
        transform: rotate(5deg);
    }
    21% {
        transform: rotate(0deg);
    }
    28% {
        transform: rotate(-5deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    42% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(15deg);
    }
}
@keyframes neon {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
button {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.596);
    background-color: rgb(48, 191, 235);
    box-shadow: 0px 0px 1px #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    animation: neon 2s infinite linear;
}
.off {
    opacity: 0;
}
